@keyframes wiggle {
  0% {
    transform: translate(0, 0);
  }
  20% {
    transform: translate(5px, 0);
  }
  40% {
    transform: translate(2px, 5px);
  }
  60% {
    transform: translate(-5px, -2px);
  }
  80% {
    transform: translate(0, -5px);
  }
  100% {
    transform: translate(0, 0);
  }
}
body {
  margin: 0;
  padding: 0;
  font-family: "Inconsolata";
  font-size: 150%;
}
section.stage {
  width: 100vw;
  height: 100vh;
  position: absolute;
  background-image: url('/static/img/brain.png');
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: center;
}
section.stage article.bot {
  background-color: lightgrey;
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  transition: all 0.5s ease;
  border-radius: 15px;
  padding: 5px;
  padding-top: 0;
}
section.stage article.bot h1 {
  margin: 0;
  margin-bottom: 5px;
  margin-top: 2px;
  text-transform: capitalize;
}
section.stage article.bot textarea {
  margin: 0;
  border-radius: 5px;
  resize: none;
  width: 90%;
  height: 50px;
  outline: none;
  text-align: center;
  font-size: 15px;
}
section.stage article.bot.angry {
  top: 7%;
  left: 10%;
  background-color: red;
}
section.stage article.bot.happy {
  top: 11%;
  right: 16%;
  background-color: yellow;
}
section.stage article.bot.sad {
  top: 43%;
  left: 4%;
  background-color: blue;
}
section.stage article.bot.disgust {
  top: 38%;
  right: 5%;
  background-color: green;
}
section.stage article.bot.user {
  bottom: 5%;
  left: calc(50% - 15%);
  width: 30%;
  background-color: lightblue;
}
section.stage article.bot.user form {
  width: 100%;
  text-align: center;
}
section.stage article.bot.user form input {
  width: 90%;
  margin-bottom: 5px;
  font-size: 25px;
}
div.line {
  width: 1px;
  background-color: black;
  position: absolute;
  transform-origin: 0% 0%;
}
