body {
  margin: 0;
  padding: 0;
  font-family: "Fjalla One";
  font-size: 150%;
}
section.stage {
  width: 100vw;
  height: 100vh;
  position: absolute;
  background: url('/static/img/brain.png');
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: center;
}
section.stage article.bot {
  background-color: lightgrey;
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  transition: all 0.5s ease;
  border-radius: 15px;
  padding: 15px 5px;
  padding-top: 2px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}
section.stage article.bot h1 {
  margin: 0;
  margin-bottom: 5px;
  margin-top: 2px;
  text-transform: capitalize;
}
section.stage article.bot textarea {
  margin: 0;
  border-radius: 5px;
  resize: none;
  width: 90%;
  height: 100px;
  outline: none;
  padding: 5px;
  font-size: 15px;
  font-family: "Fjalla One";
  background-color: rgba(255, 255, 255, 0.75);
}
section.stage article.bot.angry {
  top: 7%;
  left: 10%;
  background: linear-gradient(#f60000, #5d0000);
}
section.stage article.bot.happy {
  top: 11%;
  right: 16%;
  background: linear-gradient(#fff679, #dfcf00);
}
section.stage article.bot.sad {
  top: 43%;
  left: 4%;
  background: linear-gradient(#e9f2f2, #87bbb7);
}
section.stage article.bot.disgust {
  top: 38%;
  right: 5%;
  background: linear-gradient(#00d910, #004005);
}
section.stage article.bot.user {
  bottom: 5%;
  left: calc(50% - 15%);
  width: 30%;
  background: linear-gradient(#cdcdcd, #676767);
}
section.stage article.bot.user form {
  width: 100%;
  text-align: center;
}
section.stage article.bot.user form input[type="text"] {
  width: 90%;
  margin-bottom: 5px;
  font-size: 25px;
  outline: none;
  border: none;
  font-family: "Fjalla One";
  transition: all 0.5s ease;
}
section.stage article.bot.user form input[type="text"]:focus {
  background-color: #efefef;
  transition: all 0.5s ease;
}
section.stage article.bot.user form input[type="submit"] {
  margin-top: 5px;
  border: none;
  outline: none;
  font-size: 25px;
  width: 90%;
  font-family: "Fjalla One";
  transition: all 0.5s ease;
}
section.stage article.bot.user form input[type="submit"]:hover {
  background-color: lightgrey;
  transition: all 0.5s ease;
  cursor: pointer;
}
div.line {
  width: 1px;
  background-color: black;
  position: absolute;
  transform-origin: 0% 0%;
}
