{% extends "template.html" %}
{% block title %}Inside Out Chatbot{% endblock %}

{% block body %}
  <section class="stage">
    {% for agent in agents %}
      <article class="bot {{agent.name}}">
        <h1>{{agent.name}}</h1>
        <textarea readonly>{{agent.response}}</textarea>
      </article>
    {% endfor %}
    <article class="bot user">
      <h1>User</h1>
      <form action="/" method="post">
        <input type="text" name="query" value="" placeholder="{{previousQuestion}}">
        <input type="submit"></input>
      </form>
    </article>
  </section>
{% endblock %}
