{% extends "template.html" %}
{% block title %}Inside Out Chatbot{% endblock %}

{% block body %}
  <section class="stage">
    {% for agent in agents %}
      <article class="bot {{agent}}">
        <h1>{{agent}}</h1>
        <textarea readonly></textarea>
      </article>
    {% endfor %}
    <article class="bot user">
      <h1>User</h1>
      <form id="userInput" action="/response" method="post">
        <input type="text" name="query" value="" placeholder="{{previousQuestion}}" autocomplete="off">
        <input type="submit"></input>
      </form>
    </article>
  </section>
{% endblock %}
